<div class="rotation-welcome" style="display: flex; justify-content: center; background-color: #f8f8f8;">
	<div style="width: 965px; height: 470px; display: flex; flex-direction: column; padding: 40px 100px; ">
		<div style="display: flex; justify-content: center;flex-direction: column; color: #0000cc;">
			<div style="display: flex; justify-content: center; color: #0000cc; font-size: large; line-height: 30px;">Welcome to</div>
			<div style="display: flex; justify-content: center; color: #0000cc; font-size: 40px; line-height: 0px;">{{rotation.number}}</div>
		</div>
		<div style=" border-style: solid; border-width: thin; padding: 20px; margin-bottom: 20px; font-size: large; line-height: 25px; display: flex; justify-content: center; color: white; background-color: #0000cc;">I am a movie fanatic. When friends want to know what picture won the Oscar in 1980 or who played the police chief in Jaws, they ask me. My friends, though, have stopped asking me if I want to go out to the movies. The problems in getting to the theater, the theater itself, and the behavior of some patrons are all reasons why I often wait for a movie to show up on TV.</div>
		<div style="display: flex; justify-content: center; color: #0000cc;">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="clickStart()">
  				Start
			</button>
		</div>
	</div>
</div>