<div class="login boxShadow" ng-keyup="$event.keyCode == 13 && login()">
	<!-- <div class="boxShadow"> -->
		<!-- <epm-widget widgetHeadingContent="Login" widgetFooterContent="forgot password"> -->
		<!-- <div class="loginInputsDiv"> -->
			<div class="form-group" style="">
				<input type="text" class="form-control" placeHolder="username" ng-model="$ctrl.user.username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeHolder="password" ng-model="$ctrl.user.password">
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-sm btn-default" value="login" ng-click="$ctrl.login()">
				<input type="button" class="btn btn-sm btn-default" value="cancel">
			</div>
		<!-- </div> -->
		<!-- </epm-widget> -->
	<!-- </div> -->
</div>