.login{
    margin: 50px;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    padding: 30px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    /* min-width: 320px; */
}

.grad-screen {
	padding-top: 3%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-dash {
    width: 90%;

    height: 50%;
}

.side-dash {
    width: 90%;

        height: 50%;
}

.grad-dash-main {
	margin-top: 20px;
}

.grad-dash-side {
	margin-top: 20px;
    width: 100%;
    height: 94%;
        margin: 0px 0px 0px 0px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    /* background: whitesmoke; */
    /* flex-grow: 3; */
}

.grad-dash-main {
	margin-top: 20px;
    width: 100%;
    height: 94%;
        margin: 0px 0px 0px 0px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    /* background: whitesmoke; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.grad-screen {
    width: 100%;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

body {
    /*background-color: whitesmoke;*/
    height: 2 * 96vw;
    width: 96vw;
    min-width: 320px;
}